<slot is="reactive-slot" name="show-hide" _condition="isShown">
    <div is="reactive-div" slot="show-hide" _if="true">
        I'm visible!
    </div>
    <div is="reactive-div" slot="show-hide" _if="false">
        He's hidden!
    </div>
    <div is="reactive-div" slot="show-hide" _if="true">
        I'm visible too!
    </div>      
</slot>

<button ref="btn">
    <span is="reactive-span" hidden="$!isShown">hide</span>
    <span is="reactive-span" hidden="$isShown">show</span>
    It!
</button>